<footer id="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="footer-widget">
          <h4 data-th="ติดต่อเรา" data-en="Contact Us">ติดต่อเรา</h4>
          <p data-th="567 หมู่ 2 ถ.เลี่ยงเมือง ต.พระลับ อ.เมือง จ.ขอนแก่น 40000"
            data-en="567 Moo 2, Bypass Road, Phra Lap, Mueang, Khon Kaen 40000">
            567 หมู่ 2 ถ.เลี่ยงเมือง ต.พระลับ อ.เมือง จ.ขอนแก่น 40000
          </p>
          <p data-th="เลขทะเบียนนิติบุคคล 0107557000331"
            data-en="Company Registration No. 0107557000331">
            เลขทะเบียนนิติบุคคล 0107557000331
          </p>
          <p><a href="tel:043306999">043-306999</a></p>
          <p><a href="mailto:kcm@kcmetalsheet.com">kcm@kcmetalsheet.com</a></p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="footer-widget"></div>
      </div>
      <div class="col-lg-3">
        <div class="footer-widget">
          <h4 data-th="ลิงก์ที่เป็นประโยชน์" data-en="Useful Links">ลิงก์ที่เป็นประโยชน์</h4>
          <ul>
            <li>
              <a href="ksee/privacy-policy.html">
                <span data-th="นโยบายความเป็นส่วนตัว Ksee" data-en="Ksee Privacy Policy">นโยบายความเป็นส่วนตัว Ksee</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="footer-widget">
          <h4 data-th="เกี่ยวกับบริษัทเรา" data-en="About Our Company">About Our Company</h4>
          <div class="logo">
            <img src="assets/images/white-logo2.png" alt="">
          </div>
          <p data-th="มุ่งมั่นเป็นผู้นำด้านการผลิต จำหน่ายและบริการ ผลิตภัณฑ์โครงสร้างอาคารเหล็กสำเร็จรูป เพื่อตอบสนองความต้องการของลูกค้า"
            data-en="Committed to leading production, distribution and service for steel building solutions to meet customer needs.">
            มุ่งมั่นเป็นผู้นำด้านการผลิต จำหน่ายและบริการ ผลิตภัณฑ์โครงสร้างอาคารเหล็กสำเร็จรูป เพื่อตอบสนองความต้องการของลูกค้า
          </p>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="copyright-text">
          <p>Copyright © 2024 | Powered by Rodtank.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
