<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a href="index.html" class="logo">
            <img src="assets/images/logo2.png" style="width: 50%;" alt="Rodtank">
          </a>
          <ul class="nav">
            <li><a href="index.html" data-nav-main="home">หน้าแรก</a></li>
            <li class="scroll-to-section has-dropdown">
              <a href="javascript:void(0);" data-nav-main="investor">นักลงทุนสัมพันธ์ <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown">
                <li><a href="stock-info.html" data-nav-sub="stock-info">ข้อมูลหลักทรัพย์</a></li>
                <li><a href="stock-price.html" data-nav-sub="stock-price">ราคาหุ้น</a></li>
                <li><a href="news.html" data-nav-sub="news">ข่าวสาร</a></li>
                <li><a href="publications.html" data-nav-sub="publications">เอกสารเผยแพร่</a></li>
              </ul>
            </li>
            <li><a href="index.html#contract" data-nav-main="contact">ติดต่อเรา</a></li>
            <li class="scroll-to-section">
              <a href="https://shop.rodtank.com" target="_blank" rel="noopener noreferrer"><i class="fa fa-shopping-bag" aria-hidden="true"></i> สินค้าของเรา</a>
            </li>
            <li class="scroll-to-section">
              <a href="location-warehouse.html" data-nav-main="location"><i class="fa fa-map-marker" aria-hidden="true"></i> สาขาทั้งหมด</a>
            </li>
            <li>
              <div class="lang-switch">
                <button class="lang-btn active" onclick="setLang('th')">TH</button>
                <button class="lang-btn" onclick="setLang('en')">EN</button>
              </div>
            </li>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>
